<p>Welcome, here you can see all of <%=@user.username%>'s tweets.</p>

<% @user.tweets.all.each do |tweet| %>
    <a href="/tweets/<%=tweet.id%>"><p> <%= tweet.content %> </p></a>
    <p> -by <%= tweet.user.username %></p>
<% end %>

<p><a href="/">Back</a></p>